<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>name</key>
  <string>Whisper Voice</string>
  <key>uuid</key>
  <string>2A8F3E2C-38C5-4133-8DC3-8E51A0A82B18</string>
  <key>description</key>
  <string>Voice dictation for TextMate using local mlx_whisper, with optional OpenAI-compatible post editing.</string>
  <key>mainMenu</key>
  <dict>
    <key>items</key>
    <array>
      <string>D768FF95-4264-4E7B-8C94-2D9A7D01C8A5</string>
      <string>B5DA8EB4-0A20-4E0C-BD5A-35B58289F6C1</string>
      <string>------------------------------------</string>
      <string>591D4397-1448-4E42-B78E-30332E8FADB2</string>
      <string>5AF8DF5D-ABA4-4FB0-B07A-793854EB2992</string>
      <string>------------------------------------</string>
      <string>371F4425-6C31-41F8-AD68-155C46A1A804</string>
      <string>------------------------------------</string>
      <string>AC36F6F5-A802-4C02-89A9-23226FFF4CE7</string>
      <string>88CAF3DC-2D07-4C4C-99FF-52E5C62A77FA</string>
    </array>
  </dict>
</dict>
</plist>
